<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurecoursesdemofunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3eea26f7-e22f-4567-b18e-83a641362c6a/resourceGroups/WebDemo/providers/Microsoft.Web/sites/AzureCoursesDemoFunction</ResourceId>
    <UserName>$AzureCoursesDemoFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurecoursesdemofunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>